.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2.5rem;
  margin: 1rem 3rem;
}

.cellphoneCard {
  display: flex;
  flex-direction: column;
  width: 15%;
  height: 30%;
  padding: 15px 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  background-color: #c2b4b4;
  text-decoration: none;
  color: #2e2323;

  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
    cursor: pointer;

    h3 {
      scale: 1.1;
      transition: 0.4s;
    }
  }

  h3 {
    padding: 20px 0px;
    text-align: center;
  }

  hr {
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #2e2323;
  }
}