.container {
  h1 {
    text-align: center;
    font-size: 2.4em;
  }
}

.filtersButtonsContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;

  &:label {
    font-size: 1.1em;
  }

  &:input {
    width: 1rem;
  }
}

.filtersContainer {
  display: flex;
  gap: 1rem;

  .sortFilter {
    align-self: center;
  }

  input {
    width: 8rem;
  }

  svg {
    height: 18px;
  }
}

.buttonsContainer {
  display: flex;
  gap: 1rem;
}

.addButton {
  button {
    border: none;
    margin: auto;
  }
}

.searchContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchInput {
  max-width: 20rem;
}

select {
  appearance: none;
  border: 0;
  outline: 0;
  font: inherit;
  width: 7.5rem;
  height: 1.8rem;
  padding: 0.3rem 0.4rem;
  margin-left: 0.4rem;
  background: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg) no-repeat right 0.3em center / 1.4em,
    linear-gradient(to left, #484853 3em, #524545 3em);
  color: white;
  border-radius: 0.25em;
  box-shadow: 0 0 0.5em 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;

  &::-ms-expand {
    display: none;
  }

  &:focus {
    outline: none;
  }

  option {
    color: white;
    background-color: grey;
  }
}
